services:
  application:
    image: public.ecr.aws/g8v6p9z8/formify/application:latest
    restart: unless-stopped
    ports:
     - "80:80"
     - "443:443"
    environment:
      APP_ENV: dev
      MQ: rabbitmq
      ADMIN_EMAIL: ${APPLICATION_ADMIN_EMAIL:-mail@fakemail.com}
      ADMIN_PASSWORD: ${APPLICATION_ADMIN_PASSWORD:-default_application}
      DB_PASSWORD: ${MYSQL_PASSWORD:-default_mysql}
      CACHE_DRIVER: redis
      REDIS_HOST: redis
      REDIS_PASSWORD: ${REDIS_PASSWORD:-default_redis}
      REDIS_PORT: 6379
    depends_on:
      mysql :
        condition: service_healthy
  redis:
    image: redis:7.4
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD:-default_redis}
  mysql:
    image: mysql:8.3.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: formify
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD:-default_mysql}
    healthcheck:
      test: "mysql -uroot --password=${MYSQL_PASSWORD:-default_mysql} formify -e 'select 1'"
      interval: 1s
      retries: 120
    volumes:
     - formify-database:/var/lib/mysql
  mailer-service:
    image: public.ecr.aws/g8v6p9z8/formify/mailer-service
    restart: unless-stopped
    environment:
      MQ: rabbitmq
      MAILHOST: ${MAIL_HOST}
      MAIL: ${MAIL_ADDRESS}
      MAILPASS: ${MAIL_PASSWORD}
      MAILPORT: ${MAIL_PORT}
      MESSAGE_SOURCE: ${MAILER_MESSAGE_SOURCE:-rabbitmq}
      ACTIVATION_URL: ${FRONTEND_ACTIVATION_URL}
    depends_on:
      rabbitmq:
        condition: service_healthy
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    restart: unless-stopped
    volumes:
        - rabbitmq_data:/var/lib/rabbitmq/
        - rabbitmq_logs:/var/log/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 1s
      timeout: 3s
      retries: 30
volumes:
  formify-database:
  rabbitmq_data:
  rabbitmq_logs:
