services:
  application:
    build: ./application
    restart: unless-stopped
    ports:
     - "80:80"
     - "443:443"
    environment:
      APP_ENV: production
      MQ: rabbitmq
      CACHE_DRIVER: redis
      REDIS_HOST: redis
      REDIS_PASSWORD: ${REDIS_PASSWORD:-default_redis}
      REDIS_PORT: 6379
    depends_on:
      mysql :
        condition: service_healthy
  redis:
    image: redis:7.4
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD:-default_redis}
  mysql:
    image: mysql:8.3.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: formify
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
    healthcheck:
      test: "mysql -uroot -p formify -e 'select 1'"
      interval: 1s
      retries: 120
    volumes:
     - formify-database:/var/lib/mysql
  mailer-service:
    build:
      context: ./mailer-service
    environment:
      MQ: rabbitmq
      MAILHOST: ${MAIL_HOST}
      MAIL: ${MAIL_ADDRESS}
      MAILPASS: ${MAIL_PASSWORD}
      MAILPORT: ${MAIL_PORT}
      MESSAGE_SOURCE: ${MAILER_MESSAGE_SOURCE:-rabbitmq}
    restart: unless-stopped
    depends_on: 
      rabbitmq:
        condition: service_healthy
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    restart: unless-stopped
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 1s
      timeout: 3s
      retries: 30
volumes:
  formify-database:
