name: Publish application image to ECR

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build_and_push:
    name: Build and publish to ECR
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_APPLICATION_ECR }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_APPLICATION_ECR }}
        aws-region: eu-north-1
    
    - name: Login to ECR
      id: login_ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push to ECR
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ./application
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
      env:
        ECR_REGISTRY: ${{ steps.login_ecr.outputs.registry }}
        ECR_REPOSITORY: formify/application
        IMAGE_TAG: latest